$color-yellow: #ff7800;
$color-green: #1c9c9d;
$color-red: #e10500;
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.calendar {
  width: 100%;
}
.month {
  display: flex;
  height: 5rem;
  background-color: #ede9dd;
  text-align: center;
  & h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  & p {
    font-size: 1.6rem;
  }

  & svg {
    font-size: 3rem;
    cursor: pointer;
  }
  & .date {
    margin-top: 5px;
    flex-basis: 32%;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.25;
    color: #666;
    font-weight: 600;
  }
  & .date.active {
    background-color: white;
    & span {
      color: #e10500;
      &.noData {
        color: #24a07c;
      }
    }
  }
}
.rightIcon {
  margin-left: auto;
}
.weekdays {
  display: flex;
  width: 100%;
  align-items: center;

  border-bottom: 1px solid rgb(207, 205, 205);

  & div {
    width: calc(100% / 7);
    text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 30px;
    border-top: #f4f4f4 1px solid;
    font-weight: bolder;
  }
}
.days {
  background-color: #ede9dd;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  & div {
    width: calc(100% / 7);
    min-height: 93px;
    background-color: white;
    border: 1px solid rgb(194, 191, 191);
    border-top: transparent 1px solid;
    border-right: transparent 1px solid;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
      background-color: #fff9e3;
    }
  }
}
.days div.prev-date,
.days div.next-date {
  border: none;
  opacity: 0.5;
  background-color: #f8f8f8;
  cursor: auto;
}
.divAcitive {
  background-color: red;
}
.days div.divFlex {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 3px;
  &.active {
    border: 2px solid green;
    background-color: #fff9e3;
  }
  & span {
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: #444;
    &.red {
      color: #e10500;
    }
  }
  & section {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
  }
}
.order {
  color: $color-yellow;
  font-weight: bold;
}
.alternate {
  color: $color-green;
  font-weight: bold;
}
.full {
  color: gray;
  font-weight: bold;
}

.tip {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 40px;
  color: #fff !important;
  padding: 0 3px;
  text-align: center;
  height: 20px;
  background-color: #fe8400;
}
.tabs {
  display: flex;
  flex-direction: column;
}
.noData {
  font-size: 14px;
  color: #24a07c;
  display: block;
  line-height: 1;
  font-weight: bold;
}
.month a {
  width: 20px;
  position: relative;
  color: transparent;
  display: inline-block;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
  }
}
a.prev {
  height: 50px;
  background-color: #ede9dd;
  &::before {
    left: -1px;
    border-width: 7px 7px 7px 0;
    border-color: transparent #e10500 transparent transparent;
  }
}
a.next {
  background-color: #ede9dd;
  height: 50px;
  &::before {
    right: -1px;
    border-width: 7px 0px 7px 7px;
    border-color: transparent transparent transparent #e10500;
  }
}
.number {
  top: 2px;
  lef: 2px;
  color: #444;
  font-weight: bold;
}
