$color-yellow: #ff7800;
$color-green: #1c9c9d;
$color-red: #e10500;
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.calendar {
  width: 100%;
}
.month {
  display: flex;
  height: 5rem;
  background-color: #ede9dd;
  text-align: center;
  & h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  & p {
    font-size: 1.6rem;
  }
  & .icon {
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    cursor: pointer;
  }
  & svg {
    font-size: 3rem;
    cursor: pointer;
  }
  & .date {
    margin-top: 5px;
    flex-basis: 33%;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  & .date.active {
    background-color: white;
    & h2 {
      color: red;
    }
  }
  & .next-icon {
    margin-left: auto;
    cursor: pointer;
  }
}
.rightIcon {
  margin-left: auto;
}
.weekdays {
  display: flex;
  width: 100%;
  align-items: center;

  border-bottom: 1px solid rgb(207, 205, 205);
  padding: 5px 0;
  & div {
    width: calc(100% / 7);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
  }
}
.days {
  background-color: #ede9dd;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  & div {
    width: calc(100% / 7);
    min-height: 93px;
    background-color: white;
    border: 1px solid rgb(194, 191, 191);
    border-top: transparent 1px solid;
    border-right: transparent 1px solid;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
      background-color: #fff9e3;
    }
  }
}
.days div.prev-date,
.days div.next-date {
  border: none;
  opacity: 0.5;
  background-color: #f8f8f8;
}
.divAcitive {
  background-color: red;
}
.days div.divFlex {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  &.active {
    border: 2px solid green;
    background-color: #fff9e3;
  }
  & p {
    padding: 2px 2px;
  }
}
.order {
  color: $color-yellow;
  font-weight: bold;
}
.alternate {
  color: $color-green;
  font-weight: bold;
}
.full {
  color: gray;
  font-weight: bold;
}
.red {
  color: $color-red;
  font-weight: bold;
}
.tip {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 40px;
  color: #fff;
  padding: 0 3px;
  text-align: center;
  height: 20px;
  background-color: #fe8400;
}
.tabs {
  display: flex;
  flex-direction: column;
}
.noData {
  font-size: 12px;
  color: #24a07c;
}
