*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.calendar {
  width: 100%;
}

.month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
  background-color: #ede9dd;
  text-align: center;
}

.month h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.month p {
  font-size: 1.6rem;
}

.month .icon {
  width: 3rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: red;
  cursor: pointer;
}

.month svg {
  font-size: 3rem;
  cursor: pointer;
}

.month .date {
  margin-top: 5px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  background-color: transparent;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.month .date.active {
  background-color: white;
}

.month .date.active h2 {
  color: red;
}

.month .next-icon {
  margin-left: auto;
  cursor: pointer;
}

.rightIcon {
  margin-left: auto;
}

.weekdays {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #cfcdcd;
  padding: 5px 0;
}

.weekdays div {
  width: calc(100% / 7);
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.days {
  background-color: #ede9dd;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.days div {
  width: calc(100% / 7);
  min-height: 93px;
  background-color: white;
  border: 1px solid #c2bfbf;
  border-top: transparent 1px solid;
  border-right: transparent 1px solid;
  cursor: pointer;
}

.days div:hover {
  opacity: 0.5;
  background-color: #fff9e3;
}

.days div.prev-date,
.days div.next-date {
  border: none;
  opacity: 0.5;
  background-color: #f8f8f8;
}

.divAcitive {
  background-color: red;
}

.days div.divFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.days div.divFlex.active {
  border: 2px solid green;
  background-color: #fff9e3;
}

.days div.divFlex p {
  padding: 2px 2px;
}

.order {
  color: #ff7800;
  font-weight: bold;
}

.alternate {
  color: #1c9c9d;
  font-weight: bold;
}

.full {
  color: gray;
  font-weight: bold;
}

.red {
  color: #e10500;
  font-weight: bold;
}

.tip {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 40px;
  color: #fff;
  padding: 0 3px;
  text-align: center;
  height: 20px;
  background-color: #fe8400;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.noData {
  font-size: 12px;
  color: #24a07c;
}
/*# sourceMappingURL=all.css.map */